* {
  font-family: "Source Code Pro";
}
body {
  background: #ffffff;
}
h1 {
  text-align: center;
  font-size: 100px;
  width: 500px;
  margin: 0 auto;
  color: #cb1678;
  letter-spacing: 28px;
}
.nav {
  text-align: center;
  width: 500px;
  margin: 0 auto;
  padding: 0;
  font-weight: 200;
  list-style-type: none;
  clear: both;
}
.nav li {
  padding: 2px 2px;
  float: left;
}
.nav li.selected a {
  background-color: #860f4f;
}
.nav li.selected .event-list {
  display: block;
}
.nav a {
  font-weight: 700;
  width: 225px;
  display: block;
  text-decoration: none;
  background-color: #cb1678;
  color: #ffffff;
  padding: 10px;
  font-size: 25px;
}
.nav a:hover {
  background-color: #e82c92;
}
.nav .events {
  position: relative;
}
.nav .event-list {
  display: none;
  position: absolute;
  top: 69px;
  left: 10px;
  width: 480px;
  list-style-type: none;
  margin: 0;
  padding: 10px;
  text-align: left;
  background-color: #ffffff;
  box-sizing: border-box;
  z-index: 10;
}
.nav .event-list li {
  margin: 0;
  padding: 10px;
  color: #ffffff;
  background-color: #9d115d;
  display: block;
  width: 100%;
  box-sizing: border-box;
}
.nav .event-list strong {
  font-size: 16px;
}
.nav .event-list p {
  font-size: 12px;
  font-weight: normal;
}
.col-wrapper {
  width: 500px;
  margin: 0 auto;
}
.bandcamp-wrapper {
  width: 500px;
  margin: 0 auto;
  clear: both;
  padding-top: 3px;
  position: relative;
  left: -1px;
}
.about-us {
  display: none;
  width: 500px;
  margin: 0 auto;
  text-align: center;
  font-size: 45px;
  margin-top: 10px;
  line-height: 1.4;
  color: #cb1678;
}
.about-us p,
.about-us a,
.about-us span {
  font-family: 'Volkhov' !important;
  font-weight: 700;
}
.about-us p span {
  color: #ed5aaa;
}
.about-us a {
  color: #6f0c42;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.1;
}
.about-us a:hover {
  color: #e21986;
}
